* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outermain{
    border:2px solid;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #000);
}
.main {
    border: 0.5px solid white;
    height: 90vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(to bottom, #0f123b, #000);
    color: #fff;
}

.main:hover {
    background-color: #1a1d4d; /* Change background color on hover */
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2); /* Increase box shadow on hover */
}


@media (max-width: 860px) {
    body {
        flex-direction: column;
   }
}
.right-container, .left-container {
    flex: 1;
    flex-shrink: 0;
}
@media (max-width: 860px) {
    .right-container, .left-container {
        flex: 1 0 auto;
   }
}
.left-container {
    background-image: url(https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo=);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}
.right-container__h2 {
    font-size: 30px;
}
.right-container__p {
    opacity: 0.5;
    margin: 5px 0 10px;
}
.right-container__input {
    width: 350px;
    padding: 15px 20px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, .5);
    background: transparent;
    color: #fff;
}
.right-container__input:focus {
    outline: none;
}
.right-container__label {
    margin-top: 20px;
    font-size: 14px;
}
.right-container__bottom-text {
    text-align: center;
    margin-top: 22px;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}
.right-container__bottom-text > strong {
    color: #fff;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    background-color: #30a2ff;
    border: 1px solid #30a2ff;
    width: 350px;
    border-radius: 20px;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
}
