.Map-section-columns {
  display: flex;
  flex: 2;
  flex-direction: row;
  flex-direction: row-reverse;
}

.Map-container {
  padding: 0 20px;
  margin: 0 20px;
  width: auto;
  flex: 1;
  margin-top: 15px;
}

.option-btn {
  width: 4rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.section-option-btn {
  /* width: 2rem; */
  font-size: 1rem;
  padding: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  outline: none;
  border: none;
  border-right: 1px solid black;
  transition: all ease;
  cursor: pointer;
}

.section-option-btn:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.active {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  color: white;
  /* background:white;  */
  border-left: 1px solid white;
  border-top: 1px solid white;
  outline: none;
  border: none;
  
}



.disable {
  outline: none;
  border: none;
  background: #121029;
  color: white;
}

.disable-section {
  display: none;
}

.active-section {
  display: block;
}

.leaflet-container {
  /* color: white; */
  height: 600px;
  /* width: 100%; */
  flex: 2;
}

.type-resource {
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

select {
  font-size: 16px;
  height: 30px;
  outline: none;
  margin-right: 10px;
  border-radius: 5px;
}

.body-submit-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(23, 122, 28);
  border-radius: 5px;
  outline: none;
  border: none;
  /* color: aliceblue; */
}

.body-submit-btn:hover {
  background-color: rgb(35, 166, 39);
  cursor: pointer;
}

.mapContainer {
  display: flex;
  flex-direction: row;
}
.col-sm-6 {
  flex: 1;
}

.marker-btn {
  width: 100%;
  /* display: inline-block; */
  padding: 8px 16px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
  background-color: blue;
}
/* .popUp-container{
    color:black ;
} */
.leaflet-popup-content {
  color: black;
  font-size: 18px;
}

.request-submit-btn {
  background-color: rgb(7, 106, 228);
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.receive-request-card {
  color: white;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

.receive-request-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.194);
  pointer-events: none;
  z-index: -1;
}

.receive-request-card:hover {
  transform: scale(1.001);
}
.receive-request-card .card-body {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.receive-request-card .card-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.receive-request-card .card-text {
  color: white;
  margin-bottom: 8px;
}
